In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("data/weatherHistory.csv")
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [ ]:
data.drop(columns=["Loud Cover", "Daily Summary"], inplace=True)

In [ ]:
data.rename(columns={"Formatted Date": "Month"}, inplace=True)

In [ ]:
data["Month"] = pd.to_datetime(data["Month"], utc=True).dt.month

In [ ]:
data.head(2)

,Month,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,3,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13
1,3,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
x_train = data.drop(columns=["Temperature (C)"])
y_train = data["Temperature (C)"]

scaler = StandardScaler()

In [ ]:
data['Precip Type'] = le.fit_transform(data['Precip Type'])

In [ ]:
import os
os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"

import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras.layers import Dense

In [ ]:
model = keras.Sequential([
    Dense(units=64, input_shape=(9,), activation="relu"),
    Dense(units=1, activation='linear')
])

2023-04-14 16:00:24.714979: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:266] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

In [ ]:
model.compile(
    optimizer="sgd",
    loss="mean_squared_error",
    metrics=['mae', 'mse']
)

In [ ]:
history = model.fit(x_train, y_train, batch_size=32, epochs=10, validation_split=0.2)

plt.plot(history.history["loss"])
plt.plot(history.history["val_loss"])
plt.show()

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).